<div class="flex m-1 justify-center row">
  <span *ngFor="let lvl of levels" class="flex justify-center">
    <button
      (click)="set_lvl(lvl)"
      class="bg-amber-600 p-4 m-4 rounded-lg text-3xl text-white"
    >
      Level {{ lvl }}
    </button>
  </span>
</div>
<div class="flex m-1 justify-center row">
  <span class="flex justify-center">
    <button
      class="bg-blue-600 p-4 m-4 rounded-lg text-3xl text-white"
      (click)="check_dfs()"
    >
      DFS
    </button>
    <button
      class="bg-blue-600 p-4 m-4 rounded-lg text-3xl text-white"
      (click)="check_bfs()"
    >
      BFS
    </button>
    <button
      class="bg-blue-600 p-4 m-4 rounded-lg text-3xl text-white"
      (click)="check_ucs()"
    >
      UCS
    </button>
    <button
      class="bg-blue-600 p-4 m-4 rounded-lg text-3xl text-white"
      (click)="check_as()"
    >
      A*
    </button>
  </span>
</div>

<hr />

<div class="container mt-4">
  <div class="">
    <div class="relative">
      <div class="absolute w-full">
        <div class="w-full">
          <div>
            <div *ngFor="let data of ogmap; let i = index">
              <span
                class="text-center p-4 w-20 h-20 inline-block"
                *ngFor="let cell of data"
                [ngClass]="containsOnlyNumbers(cell) ? 'number' : cell"
              >
                {{ cell }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="absolute w-full">
        <div class="w-full">
          <div>
            <div *ngFor="let data of map; let i = index">
              <span
                class="text-center p-4 w-20 h-20 inline-block"
                *ngFor="let cell of data"
                [ngClass]="containsOnlyNumbers(cell) ? 'number2' : cell"
              >
                {{ cell }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
